<button routerLink="/users" color="primary" class="btn" mat-raised-button>Go Back</button>
<mat-card class="container">

  <mat-card-title> {{user.first_name}}</mat-card-title>
  <mat-card-subtitle>Name</mat-card-subtitle>

  <mat-card-title class="text-center"> {{user.last_name}}</mat-card-title>
  <mat-card-subtitle>Last</mat-card-subtitle>

  <mat-card-title> {{user.age}}</mat-card-title>
  <mat-card-subtitle color="primary">Age</mat-card-subtitle>

  <mat-card-title> {{user.company_name}}</mat-card-title>
  <mat-card-subtitle>Company</mat-card-subtitle>

  <mat-card-title> {{user.email}}</mat-card-title>
  <mat-card-subtitle>Email</mat-card-subtitle>

  <mat-card-title> {{user.web}}</mat-card-title>
  <mat-card-subtitle>website</mat-card-subtitle>

  <mat-card-title> {{user.city}}</mat-card-title>
  <mat-card-subtitle>City</mat-card-subtitle>

  <mat-card-title> {{user.state}}</mat-card-title>
  <mat-card-subtitle>State</mat-card-subtitle>

  <mat-card-title> {{user.zip}}</mat-card-title>
  <mat-card-subtitle>Zip</mat-card-subtitle>
</mat-card>